body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orenge-color{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 10px;
    color: wheat;
    border-radius: 4px;
}
.flexbel-area{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.max-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 8%;
}
.max-width img{
    width: 100%;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-shadow{
    box-shadow: 10px 5px 10px black;
    width: 45%;
    padding: 30px;
    margin: 0 5% 0 5% ;
   
}
#Full-Stack-web{
    border-left: 10px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}