body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orenge-color{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 10px;
    color: wheat;
    border-radius: 4px;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.max-width{
    width: 50%;
    margin-left: 5%;
}
.max-width img{
    width: 80%;
}
.dream-big{
    
}